.login {
  background-color: #455A64;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.login > .login_text {
background-color: azure;
}
.login img {
  object-fit: contain;
  

}
.login button {
  text-transform: inherit !important;
  background-color: #0fb45c;
  color: white;
  margin-top: 1px
}
.login button:hover {
  text-transform: inherit !important;
  background-color: #0b9c4f;
  color: white;
}
/*@media(max-width:628px){
    .login_container{
       width: 80vw;
       padding:10vw 5vw;
    }
    .login_container img{
        object-fit: contain;
        width: 35vw;
     
    }
    .login_text{
        font-size:0.5em;
    }
    .login_container button {
        margin-top: 10px;

    }
    .login_container img{
        object-fit: contain;
        margin-bottom: 20px;
     
    }
}*/
